*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid{
    height: 220px;
    background-color: #00a884;

}

.heading2{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-top: 20px;
    
}

.heading2 img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}


.header h5{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 500;
}

body{
    background-color: #0a1014;

}

.hero_area{
    position: relative;
    top: -100px;

}

.hero_area .header{
    padding-top: 60px;

}

.left{
    color: #41525d;
    height: 250px;
    width: 70%;

}

.left p{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 52px;
    

}

.left ol li{
    list-style: none;
    color: #3b4a54;
    font-size: 18px;
    margin-bottom: 18px;

}

.right{
     width: 70%;
     margin-bottom: 40px;
     position: relative;
}

.right img{
    right: 50px;

    height: 200px;
    width: 200px;
    margin:50px;
    padding: 0;
}
.img2{
    height: 1vh;
    width: 1vh;

}


.col{
    height: 200px;

}

.bottom p{
    margin-bottom: 130px;
    color: #00a884;
    font-size: 14px;

}

.bottom .img_container{
    margin-bottom: 100px;
    position: relative;

}
.bottom .img_container .circle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgba(11,20,26, 0);
    position: absolute;
    top: 120px;
    left: 225px;


}